/* CODE VOOR DE OBA BUTTONS */
:root {
  --body-color: #e4e9f7;
  --primary-color: #fff;
  --accent-color: #ff0000;
  --accent-color-light: #000;
  --text-secudair-color: #707070;
  --selection-color: #000;


/* buttons */
--btn-main:#000;
--hover-btn-main:#414141;
--btn-secundair:#fff; 
--hover-btn-secundair:#f1f1f1;
--btn-special:#eb0505;
--hover-btn-scpecial:#cd0404;
}  

.buttons-zwart{
  /* style */
    display: block;
    color:var(--primary-color);
    background-color:var(--btn-main);
    text-decoration: none;
    /* layout */
    width: 10em;
    padding:2px 2px 2px 5px
  }
  
  .buttons-zwart:hover{
    background-color:var(--hover-btn-main);
    cursor: pointer;
  }
  
  .buttons-wit{
    /* style */
    display: block;
    background-color: var(--primary-color);
    color: var(--selection-color);
    border: transparent;
    text-decoration: none;
    /* layout */
    padding:2px 3px 3px 5px;
    width: 5em;

    
  }
  
  .buttons-wit:hover{
    background-color:var(--hover-btn-secundair);
    cursor: pointer;
  }
  
  .buttons-cookies{
    /* style */
    background-color: var(--btn-special);
    color: #ffff;
    text-decoration: none;
    /* layout */
    border-radius: 4px;
    padding: 4px 4px 4px 4px;
  }    
  
  .buttons-cookies:hover{
    background-color: var(--hover-btn-scpecial); /*Donker rood*/
    cursor: pointer;
  }
  .p{
    padding-bottom: 10px;
  }